
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Big+Shoulders+Inline:opsz,wght@10..72,100..900&family=Boldonse&display=swap');

@font-face {
    font-family: "Revamped";
    src: url('../fontes/Revamped.otf');
}
@font-face {
    font-family: "gunplay";
    src: url('../fontes/gunplay\ rg.otf');
}

@font-face {
    font-family: "Capture";
    src: url('../fontes/Capture\ it.ttf');
}

@font-face {
    font-family: "Icons";
    src: url('../fontes/Type\ Icons.ttf');
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url('../imagem/2901625-fundo-de-textura-amassada-de-papel-branco-gratis-foto.jpg ');
    font-family: "Big Shoulders Inline";
}

#container {
    width: 80%;
    margin: 60px auto;
}


header {
    width: 100%;
    height: 350px;
    background-color: rgba(100, 100, 100, 0.5 );
    padding-left: 1%;
    padding-right: 1%;
    /* float: left; */
    text-align: center;
    font-family: "boldonse";
    border-radius: 10%;
}

main {
    margin-top: 1%;
    background-color: rgb(41, 38, 37);
    width: 100%;
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 2%;
    padding-bottom: 2%;
    text-align: justify;
}

main p, main h3, main h1 {
    text-indent: 2%;
    color: white;
}

main p {
    margin: 1%;
}

main p2 {
    color: rgb(100, 100, 100);
    text-align: center;
}

main h3 {
    color: white;
    text-transform: uppercase;
    margin-bottom: 2%;
    margin-top: 2%;
}

nav.topo {
    width: 100%;
    margin-bottom: 1%;
}

nav.topo ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
    background-color: gray;
    position: fixed;
    top: 0;
    width: 100%;
    text-align: center;
    left: 0;
}

nav.topo li {
    display: inline-block;
}

nav.topo li a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px 20px;
    text-decoration: none;
}

nav.topo li a:hover {
    background-color: darkgray;
}

nav.topo .active {
background-color: black;
    color: rgb(237, 245, 0);;
}

nav.lateral {
    font-family: "Big Shoulders Inline";
    width: 10%;
    height: 100%;
    background-color:rgb(237, 245, 0);
    position: fixed;
    top: 200px;
    left: 0;
    padding-top: 20px;
    box-sizing: border-box;
}

/* nav vertical inicio */
nav.lateral ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav.lateral li a {
    display: block;
    color: black;
    padding: 8px 16px;
    text-decoration: none;

}

/* ao passar o mouse sobre */
nav.lateral li a:hover {
    background-color: rgba(153, 158, 23, 0.3);
    color: white;
}

nav.lateral .active {
    background-color:black;
    color: rgb(237, 245, 0);
}

/* nav vertical fim */

footer {
    margin-top: 1%;
    background-color: rgb(0, 0, 0);
    width: 100%;
    height: 300px;
    text-align: center;
    padding-top: 5 0px;
    
}

footer  p {
    color: rgb(100, 100, 100);
}

.logo {
    width: 300px;
    height: 270px;
}

.imgrodape {
    width: 40rem;
    height: 200px;
}

.imgPepe {
    width: 300px;
    height: 290px; 
    float: left;
    margin: 2%;
}

.imgCamisa {
    margin-top: 3%;
    width:100%;
    height: 320px;
}

.vila {
    width: 60%;
    height: 250px;
    border-radius: 5% ;
}

.contact {
    width: 55%;
    height: 250px;
}

.retro {
    width: 50%;
    height: 200px;
}

.trabalhe-conosco {
    width: 70%;
    height: 300px;
}

@media screen and (max-width: 768px) {
    /* Menu lateral vai ocupar toda a largura em telas pequenas */
    nav.lateral {
        width: 100%;
        height: auto;
        position: static;
        top: auto;
        padding-top: 0;
    }

    /* Ajusta o conteúdo principal para a tela cheia */
    #container {
        width: 100%;
        margin: 0;
    }

    main {
        width: 100%;
        padding-left: 2%;
        padding-right: 2%;
        padding-top: 5%;
    }

    /* Torna o menu topo mais compacto */
    nav.topo ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 5px 0;
    }

    nav.topo li {
        display: block;
        margin: 5px;
    }

    nav.topo li a {
        padding: 8px 16px;
    }

    /* Ajusta a logo no rodapé para não ser muito grande em telas pequenas */
    footer .logo {
        width: 100px;
    }
}
